*.xlsx
Train-Data/Cameras_high_acc_3/
Train-Data/Cameras_new/
*.pyc
Lingu_Feat/.ipynb_checkpoints/
Lingu_Feat/data_util/.ipynb_checkpoints/
Lingu_Feat/opinion-lexicon-English/.ipynb_checkpoints/
Summarize_parallel/Atten_view/data_util/.ipynb_checkpoints/
Summarize_parallel/.ipynb_checkpoints/
Summarize_parallel/Analay/.ipynb_checkpoints/
Summarize_parallel/Atten_view/.ipynb_checkpoints/
Summarize_parallel/TEST2/.ipynb_checkpoints/
Summarize_parallel/TEST/.ipynb_checkpoints/
